#avatar {
display: grid;
grid-template-columns: auto auto auto;
grid-gap: 10px;
background-color: rgb(255, 255, 255);
padding: 10px;
}

#avatar > div {
background-color: rgba(255, 255, 255, 0.8);
border: 1px solid rgb(139, 139, 139);
text-align: center;
font-size: 18px;
}

