:root {
    --fyll:10px;
}
header {
    color:rgb(0, 98, 128);
    font-size: 1.2em;
    padding: var(--fyll);
    padding-bottom: 20px;
}

article {
font-size: 1.1em;
padding: var(--fyll);
}

#dyr {
    width:45vw;
    min-height: 50vh;
    border: 3px double rgb(1, 11, 97);
   
}

.land {
    background-color: whitesmoke
}

li:nth-child(2) {
    background: rgb(188, 230, 255);
}