#header {
    position: absolute;
    height: 25%;
    width: 100%;
    left: 0;
    top: 0;
    /* hvis du vil ha bilde i header så under her putte du inn, 
    men e litt vanskelig å få bildet te å strekka seg men det kan du søka opp*/
    /*background-image: url("himmel.jpg");
    background-repeat: no-repeat; */
    text-align: center;
    height: 200px;
    background: #10D99A; 
    background: linear-gradient(to bottom right, #28E3A9, #BFFFFA); /* detta gjør at fargen går gradvis over i ein aen */
    }
    #overskrift {
        position: absolute;
        left: 35%;
        background: white; 
        width: 25%;
        height: 10%;
        top: 7%;
        text-align: center;
    }
    #meny {
        position: absolute;
        height: 55%;
        width: 20%;
        left: 0;
        top: 25%;
        background: #BFBFBF;
        text-align: center
    
    }
    /* DETTE E FOR MENY BTW SLETT DETTA GRØNNE NÅR DU LEVERE INN OKI */
    #meny ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100%;
        background-color: #f1f1f1;
    }
    
    #meny li a {
        display: block;
        color: #000;
        padding: 8px 16px;
        text-decoration: none;
    }
    
    #meny li a:hover {
        background-color: #555;
        color: white;
    }
    /* HER E MENYLINJÅ FERDIG OKI*/
    
    #main {
        position: absolute;
        height: 55%;
        width: 80%;
        left: 20%;
        top: 25%;
        background: #457A9C;
    }
    /* DETTA E GRID SOM VA PENSUM SÅ DU KAN PUTTA TING INNI */
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-gap: 10px;
        background-color: #2196F3;
        padding: 10px;
      }
      .grid-container > div {
        background-color: rgba(255, 255, 255, 0.8);
        border: 1px solid black;
        text-align: center;
        font-size: 18px;
      }
    /* SLUTT PÅ GRID JEPP*/
      
    #skjema {
        position: absolute;
        width: 41%;
        height: 20%;
        text-align: center;
        left: 30%;
        
    }
    #bunn {
        position: absolute;
        height: 20%;
        width: 100%;
        left: 0;
        top: 80%;
        background: grey;
    }
    